<div class="container">
    <div class="text-intro">
        <h1>Sign In</h1>
    </div>

    <form name="myForm" ng-submit="submit()">
        <input type="text" name="email" placeholder="Enter your email" ng-model="user.email" ng-required="true">
        <p class="error" ng-show="myForm.email.$invalid && myForm.email.$touched">Fill out your email.</p>
        <p class="error" ng-show="!myForm.email.$invalid || !myForm.email.$touched"></p>
        <input type="password" name="password" placeholder="Enter your password" ng-model="user.password" ng-required="true">
        <p class="error" ng-show="myForm.password.$invalid && myForm.password.$touched">Fill out your password.</p>
        <p class="error" ng-show="!myForm.password.$invalid || !myForm.password.$touched"></p>

        <button type="submit" class="btn">{{ button }}</button>
    </form>
    <div class="text-intro">
        <p>{{ msg }}</p>
    </div>
</div>